div {
    text-align:center;
    color:#757575;
}
.topText {
    font-size: 63px;
}
.subText {
    font-size: 23px;
}
@media screen and (max-width:425px) {
    .topText {
        font-size: 40px;
    }
    .subText {
        font-size: 15px;
    }
}